# Ignore specific files

# Ignore a specific folder and its contents
db_script/


# Ignore compiled Python files
__pycache__/
model/__pycache__/
schema/__pycache__/
service/__pycache__/

# Ignore virtual environment folder
blog_app/
